body{background: url(aboutus_background.png) #eaedf1}
.about-us-container
{
	display: block;
	margin: 15px 20px;
	height: auto;
}
.about-us-title
{
	color: #2Ecc71;
	margin: 0 0 5px;
	padding: 0;
	font-family: Sans-Serif;
	font-weight: 700;
	font-size: 14px;
}
.about-us-content
{
	display: block;
	color: black;
	font-weight: normal;
	text-decoration: none;
	background-color: white;
	margin: auto;
	padding: 10pt;
	max-width: 100%;
	color: #000;
    background: rgba(255,255,2255, .5);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    padding: 10px 9px;
    border: solid 2px #e5e7e9;
}
