<xml>
  <navigation type="simple" backgroundColor="" backgroundImage="" contentOverlap="" itemsPosition="top" textStyle="0" textSize="10" textFont="" iosStyleNavigation="false">
    <items>
      <item icon="icon-offer.png" text="Streaming" textColor="" selectedTextColor="" selectedIcon="" backgroundImage="" selectedBackgroundImage="" backgroundColor="" selectedBackgroundColor="" />
      <item icon="icon-music.png" text="Player" textColor="" selectedTextColor="" selectedIcon="" backgroundImage="" selectedBackgroundImage="" backgroundColor="" selectedBackgroundColor="" />
      <item icon="tab-3.png" text="Fun Zone" textColor="" selectedTextColor="" selectedIcon="" backgroundImage="" selectedBackgroundImage="" backgroundColor="" selectedBackgroundColor="" />
      <item icon="icon-home.png" text="Social" textColor="" selectedTextColor="" selectedIcon="" backgroundImage="" selectedBackgroundImage="" backgroundColor="" selectedBackgroundColor="" />
      <item icon="" text="Tab5" textColor="" selectedTextColor="" selectedIcon="" backgroundImage="" selectedBackgroundImage="" backgroundColor="" selectedBackgroundColor="" />
    </items>
  </navigation>
  <targetplatform simulator="Nexus5">Android</targetplatform>
  <template price="249.99" defaultPageTransition="slide" id="MobileAppBlank" scaleWebPagesToBaseResolution="false" topadtype="none" bottomadtype="admob" globalNavigationBarStyle="2" globalNavigationBarColor="#121223" globalLogo="" isUniversalApp="false" />
  <prop id="appname" title="App Name">Meditation Music</prop>
  <prop id="tab1text" title="Tab1 Text">
  </prop>
  <prop id="tab1icon" title="Tab1 Icon">
  </prop>
  <prop id="tab2text" title="Tab2 Text">
  </prop>
  <prop id="tab2icon" title="Tab2 Icon">
  </prop>
  <prop id="tab3text" title="Tab3 Text">
  </prop>
  <prop id="tab3icon" title="Tab3 Icon">
  </prop>
  <prop id="tab4text" title="Tab4 Text">
  </prop>
  <prop id="tab4icon" title="Tab4 Icon">
  </prop>
  <planname>Basic</planname>
  <description>Meditation%20Music</description>
  <hostedresources>
  </hostedresources>
  <appStoreProperties>
    <recentChanges />
    <reviewContact />
    <reviewDemoAccount username="mmbw0qmJdpbWs0YWna+wUw==" password="mmbw0qmJdpbWs0YWna+wUw==" />
    <privacyPolicy url="http://" />
    <supportUrl>http://</supportUrl>
    <publisherReviewNotes>mmbw0qmJdpbWs0YWna+wUw==</publisherReviewNotes>
  </appStoreProperties>
  <primarycat>0</primarycat>
  <secondarycat>0</secondarycat>
  <keywords />
  <file id="appStyles.xml" newsfile="yes">
  </file>
  <restrictedaccess>
    <feature id="geofences" enabled="false" />
    <feature id="pushnotifications" enabled="false" />
    <feature id="announcements" enabled="false" />
    <feature id="calendar" enabled="false" />
    <feature id="coupon" enabled="false" />
    <feature id="loyalty" enabled="false" />
    <feature id="productorder" enabled="false" />
    <feature id="map" enabled="false" />
    <feature id="Booking" enabled="false" />
    <feature id="pnTopicSubscription" enabled="false" />
    <feature id="loginregister" enabled="false" />
  </restrictedaccess>
  <rateapp appleid="" rateatlaunch="no" rateatrelaunch="no" message="" cancelmessage="" remindmessage="" actionmessage="" />
  <ads allowUsingAdvertisingId="false" />
  <admobpublisher id="ca-app-pub-8303588283280137/8369817259" interstitialUnitId="ca-app-pub-8303588283280137/1612837212" />
  <doubleclickpublisher unitId="" />
  <pollfish apiKey="" padding="0" position="na" />
  <revmobappid id="" />
  <scads refreshRate="30" />
  <googleanalyticsid id="UA-126890918-1" />
  <localizablelanguage value="en" />
  <paypalappid id="" />
  <fbapp apikey="" />
  <androidAppLicensing enabled="false" publicKey="" />
  <apkExpansionFiles enabled="false" />
  <androidInAppBilling enabled="false" />
  <android installLocation="auto" />
  <pdftron licenseKey="" />
  <rotationapp>false</rotationapp>
  <webView bouncesEnabled="false" hideLoadingAnimation="false" externalSiteZoomEnabled="false" />
  <sharepointclient url="" username="" password="" />
  <appstorelink>
  </appstorelink>
  <googleMaps androidApiV2Key="" />
  <webapp statusBarStyle="default" iconsStyle="precomposed" offlineModeEnabled="false" inAppLinks="false" />
  <locationServices>
    <inUseDescription>
    </inUseDescription>
    <alwaysDescription>
    </alwaysDescription>
  </locationServices>
  <inAppSettings>
    <setting id="forceSync" enabled="false" />
    <setting id="clearResources" enabled="false" />
    <setting id="restoreInAppPurchase" enabled="false" />
  </inAppSettings>
  <androidapptype>0</androidapptype>
  <androidcategory>7</androidcategory>
  <androidpromovideo>
  </androidpromovideo>
  <androidcontentratingcategory>5</androidcontentratingcategory>
  <file id="radiostreamingscript.js" newsfile="no" />
  <promotext>Meditation%20Music</promotext>
  <androidcontentratingemail>carpeappscom@gmail.com</androidcontentratingemail>
  <androidC2DM enabled="true" altEnabled="true" />
  <androidpermissions>
    <permission name="android.permission.INTERNET" enabled="true" />
    <permission name="android.permission.ACCESS_COARSE_LOCATION" enabled="true" />
    <permission name="android.permission.ACCESS_FINE_LOCATION" enabled="false" />
    <permission name="android.permission.WRITE_EXTERNAL_STORAGE" enabled="false" />
    <permission name="android.permission.ACCESS_NETWORK_STATE" enabled="true" />
    <permission name="android.permission.READ_PHONE_STATE" enabled="true" />
    <permission name="android.permission.RECORD_AUDIO" enabled="false" />
    <permission name="android.permission.CAMERA" enabled="false" />
  </androidpermissions>
  <androidversion>5.8</androidversion>
  <androidversioncode>28</androidversioncode>
  <androidbundlename>com.meditation.musicsounds</androidbundlename>
  <androidshortappname>Meditation Music</androidshortappname>
  <syncenabled>true</syncenabled>
  <airpush appId="" apiKey="" interstitialAdType="smart_wall" />
  <geofencing enabled="false" />
  <file id="geofencingConfig.json" newsfile="yes" />
  <page id="menusleep.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="none" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" />
  <page id="menurelax.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="none" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" />
  <page id="menuconcentration.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="none" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" />
  <page id="menunature.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="none" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" />
  <page id="menuchillout.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="none" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" />
  <page id="menumeditation.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="none" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" />
  <page id="pentatonicwave.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="newportwaves.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="todreams.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="noise.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="tibet.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="rainforest.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="ocean.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="thunderstorm.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="mix.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="rain.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="spa.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="solitude.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="tranquility.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="taichi.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="spiritdreams.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="worldbeats.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="pianobythesea.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="zen.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="natures.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="pacific.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="index.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" />
  <androidgamecategory>0</androidgamecategory>
  <baiduMaps baiduMapsApiKeyAndroid="" baiduMapsApiKeyiOS="" />
  <googlePrivacyPolicyUrl>
  </googlePrivacyPolicyUrl>
  <dropboxapp dropboxapikey="" />
  <healthKitServices>
    <healthShareUsage>
    </healthShareUsage>
    <healthUpdateUsage>
    </healthUpdateUsage>
  </healthKitServices>
  <cameraServices>
    <cameraUsageDescription>
    </cameraUsageDescription>
  </cameraServices>
  <photoLibraryServices>
    <photoLibraryUsageDescription>
    </photoLibraryUsageDescription>
  </photoLibraryServices>
  <microphoneServices>
    <microphoneUsageDescription>
    </microphoneUsageDescription>
  </microphoneServices>
  <targetdevicesize>100</targetdevicesize>
  <page id="Beat.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="beat2.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="beat3.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="beat4.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="beat5.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="beat6.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="Bodybuilding.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="bodybuilding1.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="bodybuilding2.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="bodybuilding3.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="bodybuilding4.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="bodybuilding5.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="bodybuilding6.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="Boxing.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <page id="boxing1.html" type="html" title="" logo="" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" shownavbar="no" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" kind="html" />
  <skippables adUnitIdSki="" interstitialAdUnitIdSki="" />
  <page id="self-healing1.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="SelfHealing.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" />
  <page id="Buddhist.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" />
  <page id="ThirdEye.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" />
  <page id="Peace.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" />
  <page id="Mindfulness.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" />
  <page id="Zen.html" type="largebuttonmenu" kind="html" transition="NONE" slidepageid="none" slidetransition="none" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadtype="admob" interstitialadview="fullscreen" transitionsound="" hidetabbaratpush="no" />
  <page id="self-healing2.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="self-healing3.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="self-healing4.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="self-healing5.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="self-healing6.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="buddhist1.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="buddhist2.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="buddhist3.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="buddhist4.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="buddhist5.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="buddhist6.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="thirdeye1.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="thirdeye2.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="thirdeye3.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="thirdeye4.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="thirdeye5.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="thirdeye6.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="mindfulness1.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="mindfulness2.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="mindfulness3.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="mindfulness4.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="mindfulness5.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="mindfulness6.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="peace1.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="peace2.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="peace3.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="peace4.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="peace5.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="peace6.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="zen1.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="zen2.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="zen3.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="zen4.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="zen5.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
  <page id="zen6.html" type="audioplay" kind="html" transition="NONE" slidepageid="none" slidetransition="" hasreviews="no" hassend="no" hasfields="no" topadtype="inherited" bottomadtype="admob" dynamicdata="false" jsonurl="" hidebottombaratpush="no" hasreviewhtmlkey="no" title="" logo="" shownavbar="no" interstitialadtype="admob" transitionsound="" hidetabbaratpush="no" zoomEnabled="false" loadWebUrlsInSameWebView="false" backgroundColor="" interstitialadview="fullscreen" />
</xml>
