body
{
font-size:12pt;
font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
background-color:#000000;
margin:0px;
background-repeat:repeat-y;
line-height:;
text-align:;
color:#ffffff;
background-image:url();

}
p
{
padding-right: 8px;
padding-left: 8px;

}
a
{
color:#666666;
text-decoration:none;
font-weight:bold;

}
.list
{
color:#e2e3a5;
text-decoration:none;
font-weight:bold;
border-bottom-width: 2px;
border-bottom-style: solid;
border-bottom-color: ffcc66;
font-size: 16pt;

}
a:visited
{
color:#cccccc;
text-decoration:none;
font-weight:bold;

}
.itemimage
{
border:solid 0px #aaa;
max-width:100px;
width: expression(this.width > 100 ? 100: true);
vertical-align:middle;

}
 .iimage
{
border:solid 0px #aaa;
max-width:100%;
vertical-align:middle;

}
h1
{
font-family: "Lucida Sans Unicode";
font-size: 18pt;
color: #000000;
padding-left: 6px;
padding-top: 6px;
font-weight: bold;

}
h2
{
font-family: "Lucida Sans Unicode";
font-size: 12pt;
color: #000000;

}
.iconmenutitle
{
color: #000000;
font-size:12pt;

}
/*audiostreamcssaddition*/.audiostreambody
{
background:#ffffff
}
/*audioplaycssaddition*/body
{
background:#ffffff
}
.audio-header
{
azimuthfont-family: roboto, Verdana, sans-serif;
padding:15px 10px;
background: #f2f2f2;
background: -moz-linear-gradient(top,  #f2f2f2 0%, #dddfe1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dddfe1));
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dddfe1 100%);
background: -o-linear-gradient(top,  #f2f2f2 0%,#dddfe1 100%);
background: -ms-linear-gradient(top,  #f2f2f2 0%,#dddfe1 100%);
background: linear-gradient(to bottom,  #f2f2f2 0%,#dddfe1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddfe1',GradientType=0 );
text-align:center;
text-shadow: 0 1px 0 #fff;

}
.audio-header .streamtitle
{
color:#858a8d;
font-size:17px;
font-weight:bold;
padding:10px 10px 0px 10px;

}
.audio-header .trackname
{
color:#8b9093;
font-size:14px;
padding:0 0 5px 0;

}
.cover-image
{
padding:0px;

}
.audio-controls
{
position:absolute;
bottom:0;
background: #f2f2f2;
background: -moz-linear-gradient(top,  #f2f2f2 0%, #dddfe1 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#dddfe1));
background: -webkit-linear-gradient(top,  #f2f2f2 0%,#dddfe1 100%);
background: -o-linear-gradient(top,  #f2f2f2 0%,#dddfe1 100%);
background: -ms-linear-gradient(top,  #f2f2f2 0%,#dddfe1 100%);
background: linear-gradient(to bottom,  #f2f2f2 0%,#dddfe1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dddfe1',GradientType=0 );
height:50px;
width:100%;
text-align:center;
padding:30px 0px 10px 0;

}
.audio-controls a
{
background:#9fa3a6;
border:solid 1px #939799;
padding:10px 20px;
margin:0 5px;
color:#fff;
font-size:14px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;

}
@media only screen and (orientation : landscape)
{
.audio-controls
{
position:relative;

}

}
/*largebuttonmenucssaddition*/span[data-layout="menuitem"] 
{
    display: block
}
.largeButtonMenuImgContaineriPad 
{
    min-width: 225px;
    width: 30%;
    min-height: 136px;
    height: 28%;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: center 0;
    background: #ffffff;
    margin-bottom: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.largeButtonMenuImageiPad 
{
    padding: 0px;
    min-width: 225px;
    width: 30%;

}
.largeButtonMenuItemBgiPad 
{
    min-width: 225px;
    width: 30%;
    text-align: center;
    font-size: 18px;
    font-family: STHeitiTC-Light, Tahoma;
    font-weight: 100;

}
img.largebuttonmenucenteriPad 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

}
.largeButtonMenuImgContainer 
{
    min-width: 146px;
    width: 95%;
    min-height: 120px;
    height: 28%;
    border-radius: 5px;
    background: #ffffff;
    background-repeat: no-repeat;
    margin-bottom: 6px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}
.largeButtonMenuImage 
{
    min-width: 150px;
    width: 30%;
    padding: 0px;

}
.largeButtonMenuItemBg 
{
    min-width: 150px;
    width: 30%;
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-family: STHeitiTC-Light, Tahoma;
    font-weight: 100;
    padding-top: 5px
}
img.largebuttonmenucenter 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    max-width: 64px;

}

